{{>private-nav}}  

<main>
  <section class="d-flex flex-row justify-content-evenly m-5 p-3">
    <div>
      <h2 class="p-1">Find a new pal!</h2>
      
     
      <a href="# " class="btn btn-outline-success">Search</a>
    </div>
    <div class="card m-4" style="width: 25vw">
      <img
        src="https://images.unsplash.com/photo-1452857297128-d9c29adba80b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=967&q=80"
        class="card-img-top"
        alt="..."
      />
      <input type="text" class="form-control" placeholder="Your bio.">
    </div>
  </section>
  <section>
    <h2>Upcoming Cooktogethers </h2>
     <div class="card d-inline-flex  justify-content-between p-2 bd-highlight text-center" style="width: 20rem">
       {{#each upcomingCookTogethers as |upcoming|}}

      <div class="card" style="width: 18rem;">
         <img src={{upcoming.recipe_image}} class="card-img-top" alt={{upcoming.recipe_image}}>
         <div class="card-body">
          <h5 class="card-title"> {{upcoming.recipe_title}}  with {{upcoming.user.first_name}}  </h5>
          <p class="card-text">Get in touch: {{upcoming.contact_details}}</p>
          <p class="card-text">Meeting for {{upcoming.meal_type}} on {{upcoming.datetime}} </p>
          <p>About: {{ upcoming.user.bio }}</p>
         </div>
      </div>
    {{/each}}
  </section>
  <section 
    class="container carousel-container"
    style="justify-content: center"
  >
    <h4>Requests received</h4>
    <div class="card d-inline-flex  justify-content-between p-2 bd-highlight text-center" style="width: 20rem">
      {{#each requestedCookTogethers as |requested|}}  
      <div class="card" style="width: 18rem;">
        <img src={{requested.recipe_image}} class="card-img-top" alt={{requested.title}}>
        <div class="card-body">
          <h5 class="card-title"> {{requested.recipe_title}} with {{requested.user.first_name}}  </h5>
          <p class="card-text">Meeting for {{requested.meal_type}} on {{requested.datetime}} </p>
          <p>About: {{ requested.user.bio }}</p>
          <div class="requests-buttons" data-requestId={{requested.request_id}}>
            <button class="extra-info-button">
              Accept
            </button>
            <button class="decline-request-button">
              Decline
            </button>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </section>

  <section>
    <h4>Requests sent </h4>
      <div class="card d-inline-flex  justify-content-between p-2 bd-highlight text-center" style="width: 20rem">
      {{#each sentCookTogethers as |sent|}}  
      <div class="card" style="width: 18rem;">
        <img src={{sent.recipe_image}} class="card-img-top" alt={{sent.title}}>
        <div class="card-body">
          <h5 class="card-title"> {{sent.recipe_title}} with {{sent.user.first_name}}  </h5>
          <p class="card-text">Meeting for {{sent.meal_type}} on {{sent.datetime}} </p>
          <p>About: {{ sent.user.bio }}</p>
          <div data-requestId={{sent.request_id}} >
            <button class="cancel-request-button">
              Cancel
            </button>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </section>
</main>