{{>private-nav}}

<main>
  <h2 class="text-center">Welcome to your Cook Together page {{name}}!</h2>
  <br>
  <section class="row p-2 mx-auto">

    <div class="col-6">
      <div class="card m-4 container">

        <div><img
            src="https://images.unsplash.com/photo-1556911261-6bd341186b2f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80"
            class="card-img-top" alt="Man and woman standing in the kitchen cooking" />
        </div>
      </div>
    </div>

    <div class="col-6">

     
      <div>
        <h3 class="text-center">How it works:</h3>
      </div>
      <br>
      <div>
        <h4 class="p-1">1. Update your bio here:</h4>
        {{#if bio}}
        <input type="text" class="form-control" placeholder='{{bio}}' id="bio" />
            {{else}}
          <input type="text" class="form-control" placeholder="Type in your bio here" id="bio" />
            {{/if}}
      </div>
     
      <br>
      <div class="text-center d-grid gap-2">
        <button id="bioBtn" class="btn btn-outline-success ">Submit</button>
      </div>
     

      <div>
        <br>

      </div>
      <h4 class="p-1">2. Find a new pal:</h3>
        <div class="d-grid gap-2">
          <a href="/cooktogether/myrecipes" class="btn btn-outline-success ">Search</a>
        </div>
    </div>

  </section>
  <br>

  <section id="carousels-container" class="container carousel-container" style="justify-content: center">

    {{!--carousel1--}}
    <div>
      <h3 class="text-center">Upcoming Cook Togethers</h3>
    </div>
    <div id="carouselSent" class="carousel slide p-5" data-bs-touch="false" data-bs-interval="false">

      <div class="carousel-inner">
        {{#each upcomingCookTogethers as |upcoming|}}

        <div class="carousel-item {{#ifFirst @index}} active {{/ifFirst}}">
          <div class="card mb-3 mx-auto">
            <div class="row">
              <div class="col-md-6">
                <img src="{{upcoming.recipe_image}}" alt="{{upcoming.recipe_title}}" style="height: 20vw" />
              </div>
              <div class="col-md-6">
                <div class="card-body h-100 w-100">
                  <h5 id="recipe-name" class="card-title">
                    {{upcoming.recipe_title}} with {{upcoming.user.first_name}}
                  </h5>
                  <p class="card-text">
                    Get in touch: {{upcoming.contact_details}}
                  </p>
                  <p class="card-text">
                    Meeting for {{upcoming.meal_type}} on {{upcoming.datetime}}
                  </p>
                  <p>About: {{ upcoming.user.bio }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>



        {{/each}}

      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselSent" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselSent" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>


    {{!--carousel2--}}
    <div>
      <h4 class="text-center">Received Cook Together Requests</h4>
    </div>
    <div id="carouselReceived" class="carousel slide p-5" data-bs-touch="false" data-bs-interval="false"></div>

    <div class="carousel-inner">
      {{#each requestedCookTogethers as |requested|}}

      <div class="carousel-item {{#ifFirst @index}} active {{/ifFirst}}">
        <div class="card mb-3 mx-auto">
          <div class="row">
            <div class="col-md-6">
              <img src="{{requested.recipe_image}}" alt="{{requested.recipe_title}}" style="height: 20vw" />
            </div>
            <div class="col-md-6">
              <div class="card-body h-100 w-100">
                <h5 id="recipe-name" class="card-title">
                  {{requested.recipe_title}} with
                  {{requested.user.first_name}}
                </h5>
                <p class="card-text">
                  Meeting for {{requested.meal_type}} on
                  {{requested.datetime}}
                </p>
                <p class="card-text">About: {{ requested.user.bio }}</p>
                <div class="requests-buttons" id="{{requested.request_id}}">
                  <button class="extra-info-button btn main-button-style">Accept</button>
                  <button class="decline-request-button btn main-button-style">Decline</button>
                </div>
              </div>
            </div>
          </div>
        </div>
    
    {{/each}}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselReceived" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselReceived" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    </div>

    {{!--carousel3--}}
    <div>
      <h4 class="text-center">Sent Cook Together Requests</h4>
    </div>
    <div id="carouselSent" class="carousel slide p-5" data-bs-touch="false" data-bs-interval="false"></div>

    <div class="carousel-inner">
      {{#each sentCookTogethers as |sent|}}

      <div class="carousel-item {{#ifFirst @index}} active {{/ifFirst}}">
        <div class="card mb-3 mx-auto">
          <div class="row">
            <div class="col-md-6">
              <img src="{{sent.recipe_image}}" alt="{{sent.recipe_title}}" style="height: 20vw" />
            </div>
            <div class="col-md-6">
              <div class="card-body h-100 w-100">
                <h5 id="recipe-name" class="card-title">
                  {{sent.recipe_title}} with {{sent.user.first_name}}
                </h5>
                <p class="card-text">
                  Meeting for {{sent.meal_type}} on {{sent.datetime}}
                </p>
                <p class="card-text">About: {{ sent.bio }}</p>
                <div id="{{sent.request_id}}">
                  <button class="cancel-request-button btn main-button-style">Cancel</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {{/each}}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselSent" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselSent" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    </div>
  </section>

</main>
{{>footer}}