<h1> {{upcomingCooktogetherDetails}} </h1>
<h2> {{ latestSavedRecipes }} </h2>


<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="..." alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"> {{upcomingCooktogetherDetails.recipe_title}}  with {{upcomingCooktogetherDetails.user.first_name}}  </h5>
        <p class="card-text">For {{upcomingCooktogetherDetails.meal_type}} on {{upcomingCooktogetherDetails.datetime}} </p>
        <p class="card-text">Contact details: {{upcomingCooktogetherDetails.contact_details}}</p>
      </div>
    </div>
  </div>
</div>

  {{#each latestSavedRecipes as |recipe|}}
   <a href=`/recipe/{{recipe.recipe_id}}`>
    <div class="card d-inline-flex  justify-content-between p-2 bd-highlight" style="width: 18rem">
       <div class="card-body mx-auto">
        <img src={{recipe.image}} class="card-img-top" alt="Image of dish" />
         <h5 class="card-title text-center">{{recipe.dish_name}}</h5>
       </div>
    </div>
   </a>
   {{/each }}