{{#if loggedIn}}
  {{>private-nav}}  
{{else}}
  {{>public-nav}}  
{{/if}}
<main>
  <div class="mb-5">
    <h1 class="mb-3">Your yummy recipes</h1>
    <section class="card-group p-2" style="justify-content: space-around">
      <div class="d-inline-flex flex-wrap justify-content-center p-4">
        {{#each recipes as |recipe|}}
        <a href="/recipe/{{recipe.recipe_id}}">
          <div
            class="card d-inline-flex p-2 bd-highlight m-3"
            style="width: 25vw; height: 28vw; background-color: #304922"
          ><a
                href="/recipe/{{recipe.recipe_id}}"
                
              >
            <div class="card-body mx-auto">
              <img
                src="{{recipe.image}}"
                class="card-img-top mb-3"
                alt="Image of dish"
              />
              <h5 class="card-title btn text-center recipe-title mb-3">{{recipe.dish_name}}</h5>
              </a>
              <a href="/myrecipes" id="{{id}}" name="remove-from-favourites"
                ><h5 class="card-title text-center">
                  <i class="far fa-trash-alt" style="color: #8EB44F;"></i></h5
              ></a>
            </div>
          </div>
        </a>
        {{/each}}
      </div>
    </section>
  </div>
</main>
{{>footer}}
