{{#if loggedIn}}
{{>private-nav}}
{{else}}
{{>public-nav}}
{{/if}}
<main>
  <section class="my-recipes-all">
    <h1 class="main-header-style text-center">Your yummy recipes</h1>
    {{#if recipes}}
    <section class="your-yummy-recipes d-flex flex-row">
      <div class="card-group">
        {{#each recipes as |recipe|}}
        <div class="card main-recipe-card">
          <div class="card-body">
            <a href="recipe/{{this.recipe_id}}" class="text-decoration-none">
              <img
                src="{{this.image}}"
                class="card-img-top"
                alt="Image of dish"
              />
              <h4 class="card-title text-center">{{this.dish_name}}</h4>
            </a>

            <a
              href="/recipe/{{recipe.recipe_id}}"
              target="_blank"
              class="card-link btn main-button-style"
            >
              View recipe
            </a>

            <button
              id="{{recipe.recipe_id}}"
              name="remove-from-favourites-btn"
              class="card-link btn btn-danger"
            >
              <i class="far fa-trash-alt fs-4"></i>
            </button>
          </div>
        </div>

        {{/each}} {{ else }}
        <div class="text-center">
          <h3>Oh no! You don't have any recipes saved yet!</h3>
          <h3>Search now to get cooking.</h3>
          {{>private-searchbar}}
        </div>
        {{/if}}
      </div>
    </section>
  </section>
</main>



{{>footer}}